<footer>
  <div class="social-icons">
    <a href="http://instagram.com/ciarrapdx" title="Follow me on Instagram">
      <img class="instagram-icon" src="/public/images/instagram.png" alt="instagram logo">
    </a>
    <a href="https://www.facebook.com/Ciarra-Godson-Photography-177180042336632/?fref=ts" title="Like me on Facebook">
      <img class="facebook-icon" src="/public/images/facebook.png" alt="facebook logo">
    </a>
  </div>
  <p class="copyright">&copy; 2015 Ciarra Godson Photography. All&nbsp;Rights&nbsp;Reserved.</p>
</footer>
