<header>
  <div class="desktop-nav">
    <ul class="nav-left nav">
      <li class="nav-item"><a class="nav-item-link" href="/about">About</a></li>
      <li class="nav-item"><a class="nav-item-link" href="/contact">Contact</a></li>
      <li class="nav-item"><a class="nav-item-link" href="/investment">Investment</a></li>
    </ul>
    <h1 class="logo">
      <a href="/">
        Ciarra Godson Photography
        <img class="logo-image" src="/public/images/logo.png" alt="Ciarra Godson logo" width="315">
      </a>
    </h1>
    <ul class="nav-right nav nav-galleries">
      <li class="nav-item"><a class="nav-item-link" href="/wedding">Wedding</a></li>
      <li class="nav-item"><a class="nav-item-link" href="/family">Family</a></li>
      <li class="nav-item"><a class="nav-item-link" href="/boudoir">Boudoir</a></li>
    </ul>
  </div>

  <div class="mobile-nav">
    <h1 class="logo">
      <a href="/">
        <img class="logo-image" src="/public/images/logo.png" alt="Ciarra Godson logo" width="315">
      </a>
    </h1>
    <ul class="nav-center nav">
      <li class="nav-item"><a class="nav-item-link" href="/about">About</a></li>
      <li class="nav-item"><a class="nav-item-link" href="/contact">Contact</a></li>
      <li class="nav-item"><a class="nav-item-link" href="/investment">Investment</a></li>
      <li class="nav-item galleries-button"><a class="nav-item-link" href="#">Galleries</a></li>
    </ul>
  </div>
</header>
